@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,400;1,300&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Nunito', sans-serif;
}

.container {
  font-family: Arial, sans-serif;
  text-align: center;
  background-color: #fff;
  position: relative;
}

body, html {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
}

.container {
  text-align: center;
  color: white;
  position: relative;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background: url('https://travelgrafia.co/wp-content/uploads/2023/08/Tour-Chichen-Itza-desde-Cancun.jpg');
  background-color: rgba(0, 0, 0, 0.5);
  background-blend-mode: overlay;
}

.background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  overflow: hidden;
}

.background-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.logo {
  margin-top: 20px;
  width: 150px;
}

.title {
  font-size: 36px;
  margin: 20px 5px;
  color:'#fff';
  font-weight:'900';
}

.form-group {
  margin: 20px 0;
}

.input {
  width: 70%;
  padding: 10px;
  margin: 10px auto;
  border: 1px solid rgba(255, 255, 255, 0.6);
  border-radius: 25px;
  background: rgba(255, 255, 255, 0.1);
  color: white;
  font-size: 16px;
  display: block;
}

.input::placeholder {
  color: rgba(255, 255, 255, 0.7);
}

.phone-input-container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 10px auto;
  width: 70%;
}

.country-code {
  padding: 10px;
  background: rgba(255, 255, 255, 0.1);
  border: 1px solid rgba(255, 255, 255, 0.6);
  border-right: none;
  border-radius: 25px 0 0 25px;
  color: white;
  font-size: 16px;
}

.phone-input {
  border-radius: 0 25px 25px 0;
  border-left: none;
  width: 100%;
  padding: 10px;
  background: rgba(255, 255, 255, 0.1);
  border: 1px solid rgba(255, 255, 255, 0.6);
  color: white;
  font-size: 16px;
}

.btn {
  background-color: #e50914;
  color: white;
  border: none;
  width: 70%;
  padding: 10px;
  margin: 10px auto;
  font-size: 18px;
  cursor: pointer;
  border-radius: 50px;
}

.register {
  font-size: 16px;
  margin: 20px 0;
}

.register a {
  color: white;
  text-decoration: underline;
}

.banner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #e50914;
  padding: 20px;
  color: white;
}

.banner-text {
  font-size: 18px;
  max-width: 60%;
}

.person-img {
  max-height: 150px;
}
